body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #de2fa4;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
    background: #d31879;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

#banner {
    background: #555;
    color: #fff;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
    margin: 10px 0;
    background: white;
    border-radius: 5px;
}

.categoria {
    margin: 15px 0;
    padding: 15px;
    background: #eaeaea;
    border-radius: 5px;
}

.imagem-galeria {
    display: flex;
    justify-content: space-between;
}

.imagem-galeria img {
    width: 30%;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 5px 0;
}

form input, form textarea {
    padding: 10px;
    margin: 5px 0;
}

button {
    padding: 10px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
h1{
    font-size: 75px;
}
